.App{
    text-align: left;
}

.list{
    text-align: left;
}

.list li{
    width: 25%;
    position: relative;
    margin: 0 0 0.5%;
}

.list li button{
    position: absolute;
    right: 0;
}

.hideableList{
    margin: 0 0 5%;
}

.boxClass{
    margin: 0.5% 0.5% 0;
}